@font-face {
  font-family: Minecraft;
  src: url(fonts/Minecraft.ttf);
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Minecraft, Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

#PageHeader1 {
  background-color: #00FEFE;
  color: #FFFFFF;
  background-image: none;
  box-sizing: border-box;
}

#Picture1 {
  border: 0px solid #000000;
  padding: 0;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  align: center;
}

#Description {
  font-family: Minecraft, Verdana;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.50);
  text-align: center;
}

#PageFooter1 {
  background-color: #303030;
  color: #FFFFFF;
  background-image: none;
  box-sizing: border-box;
}
